/*font-family: 'Lato', sans-serif;
font-family: 'Alegreya Sans SC', sans-serif;

main color: #0d203b
second color: #2C8FFA
third color: #ffffff

*/
* {
  box-sizing: border-box;
}

.wrap {
  list-style: none;
  width: 100vw;
  height: 100vh;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

main > nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #0d203b;
}

main > nav .nav-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
  width: 100%;
  height: 100%;
}

main > nav .nav-content .logotype {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 2;
  height: 100%;
}

.logotype img {
  height: 70px;
}

.logotype h1 {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  color: #2c8ffa;
  margin-left: 10px;
}

.logotype .logo-anchor {
  text-decoration: none;
}

.logotype h1 > span {
  font-weight: 700;
  color: #fff;
}

main > nav .nav-content .navigation-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 5;
  height: 100%;
}

.navigation-section > ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-section > ul > li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 160px;
  transition: 0.3s;
}

.navigation-section > ul > li:hover {
  background-color: #fff;
  color: #0d203b;
}

.navigation-section > ul > li i {
  font-size: 4rem;
  color: #2c8ffa;
  margin-right: 10px;
}

.navigation-section > ul > li a {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #2c8ffa;
  text-decoration: none;
}

main > nav .nav-content .user-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 3;
}

.user-section .avatar-container {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #2c8ffa;
}

.user-section .avatar-container > img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-section p.user-name {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  color: #2c8ffa;
}

.user-section .notifications {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.user-section .notifications i {
  font-size: 4rem;
  color: #2c8ffa;
}

.user-section .notifications .notification-count {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #2c8ffa;
  border: 1px solid #fff;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
}

.user-section .notifications .notification-count > p {
  position: absolute;
  top: 0;
  margin: 0;
  color: #fff;
}

.user-section .logout-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.3s;
}

.user-section .logout-btn > button {
  border-style: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.3s;
}

.user-section .logout-btn > button:hover {
  background-color: #2c8ffa;
}

.user-section .logout-btn > button i {
  color: #0d203b;
  font-size: 2rem;
}

main header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 100px);
}

header > .public-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.public-gallery .image-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  border: 2px solid #2c8ffa;
}

.image-slider > img {
  height: 100%;
}

.image-slider .rate-bar {
  position: absolute;
  bottom: -50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100px;
  width: 100%;
}

.rate-bar .rate-btn.plus-one-btn {
  font-size: 2.5rem;
  margin-right: 80px;
}

.rate-bar .rate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-style: none;
  background-color: #fff;
  color: #2c8ffa;
  border: 2px solid #2c8ffa;
  font-size: 3rem;
  transition: 0.3s;
  cursor: pointer;
}

.rate-bar .rate-btn:hover {
  background-color: #0d203b;
}

.public-gallery .image-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 22%;
  height: 35%;
  background-color: #0d203b;
  border: 2px solid #2c8ffa;
}

.image-modal .random-author-info {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 0 10px;
}

.random-author-info img {
  height: 70px;
  width: 70px;
}

.random-author-info p.author-name {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 3rem;
  color: #2c8ffa;
}

.random-author-info .post-time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #2c8ffa;
  background-color: #fff;
  border-radius: 8px;
  width: 50px;
  height: 25px;
}

.post-time p {
  margin: 0;
}

.image-modal .image-message {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 0 20px;
  width: 100%;
}

.image-message p {
  margin: 0;
  text-align: center;
}

.image-modal .hash-and-score {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding: 0 20px;
  width: 100%;
}

.hash-and-score .score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  background-color: #2c8ffa;
  border-radius: 8px;
}

.score p {
  margin: 0;
}

/*myalbum*/

header {
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: auto;
  overflow-y: scroll;
  width: 100%;
  background-color: #fff;
}

.albumBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.addPictureArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 40px 0;
}

.picturesContainer {
  display: flex;
  width: 100%;
  position: relative;
}

.picturesColumn {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 1.45rem;
}

.picturesColumn > img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1.45rem;
}

.addBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid #2c8ffa;
  border-radius: 4px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2rem;
  background-color: #fff;
  color: #2c8ffa;
  transition: 0.3s;
  cursor: pointer;
  margin: 20px;
}

.addBtn:hover {
  background-color: #2c8ffa;
  color: #fff;
}

/*ranking styles*/

.ranking-records {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 90%;
  justify-content: flex-start;
  align-items: center;
}

.ranking-record {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 80px;
  background-color: #2c8ffa;
  border: 2px solid #0d203b;
  border-radius: 4px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.other-user-place {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gold;
  color: #fff;
  border: 2px solid #fff;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

.other-user-info {
  height: 100%;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.other-user-info > img {
  height: 60px;
  width: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.other-user-info p {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 10px 20px;
  width: 100%;
}

.ranking-record .other-user-ranking-score {
  width: 60px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d203b;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

/*usersettings styles*/

.change-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 60%;
}
