
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/styles/signin.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700|Lato:300,400,700&display=swap&subset=latin-ext"
      rel="stylesheet"
    />
    <title>Imagepeak</title>
  </head>
  <body>
    <div class="wrap">
      <main>
        <nav>
          <div class="nav-content">
            <div class="logotype">
              <img src="/static/img/logo.png" alt="site logotype" class="logo" />
              <a href="welcome.html" class="logo-anchor"
                ><h1>Image<span>peak</span></h1></a
              >
            </div>
            <div class="navigation-section">
              <ul>
                <li>
                  <i class="fas fa-portrait"></i
                  ><a href="myalbum">my album</a>
                </li>
                <li>
                  <i class="fas fa-medal"></i><a href="ranking">ranking</a>
                </li>
                <li>
                  <i class="fas fa-user-cog"></i
                  ><a href="usersettings">account</a>
                </li>
              </ul>
            </div>
            <div class="user-section">
              <div class="avatar-container">
                <img
                  src={{ request.COOKIES.user_image }}
                  alt="user-avatar"
                  class="user-avatar"
                />
              </div>
              <p class="user-name">{{ request.COOKIES.nickname }}</p>
              <div class="logout-btn">
                <button>
                  <a href="logout">
                    <i class="fas fa-sign-out-alt"></i>
                  </a>
                </button>
              </div>
            </div>
          </div>
        </nav>
        <header>
          <section class="change-section left">
            <div class="change-title">
              <i class="fas fa-person-booth"></i>
              <p>update avatar</p>
            </div>
            <div class="add-new-avatar">
              <form action="usersettings" method="POST" enctype="multipart/form-data" class="add-photo-form">
                <div class="file-upload">
                  <input class="file-upload__input" type="file" name="myFile" id="myFile" multiple>
                  <button class="file-upload__button" type="button">Choose File(s)</button>
                  <span class="file-upload__label"></span>
                  <button type="submit" name="submit" class="add-photo-btn active" id="submitFileBtn">update avatar</button>
                </div>
               </form>
            </div>
          </section>
          <section class="change-section right">
            <div class="change-title">
              <i class="fas fa-unlock-alt"></i>
              <p>change password</p>
            </div>
            <!--Form action-->
            <form action="usersettings" method="POST" id="passwordChangeForm">
              <div id="errorField"></div>
              <input type="password" placeholder="Current password..." id="currentPassword" name="currentPassword"/>
              <input type="password" placeholder="New password..." id="newPassword" name="newPassword"/>
              <input
                type="password"
                placeholder="Repeat new password..."
                id="repeatPassword"
                name="repeatPassword"
              />
              <button class="password-change-button">Save</button>
            </form>
        </header>
      </main>
    </div>
    <script src="/static/scripts/usersettings.js"></script>
    <script
      src="https://kit.fontawesome.com/4904b4dc8e.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
