@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,900|Lato:400,900&display=swap&subset=latin-ext");

html {
  font-size: 10px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mainAppContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  background-color: #0d203b;
  box-sizing: border-box;
  padding: 20px;
}

.cloud {
  display: block;
  position: absolute;
  top: 0;
  left: -238px;
  width: 238px;
  height: 238px;
  animation: moveRight 20s linear 2s infinite;
}

@keyframes moveRight {
  from {
    left: -238px;
  }
  to {
    left: 100%;
  }
}

/*font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Lato', sans-serif;*/
