.myAlbumContainer {
  display: flex;
  flex-direction: column;
  background-color: #0d203b;
  height: 100vh;
  width: 100vw;
}

.myAlbumContainer nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0d203b;
  width: 100%;
  height: 100px;
  padding: 0 60px;
}

.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  padding: 0 10px;
  flex: 2;
}

.myAlbumContainer .logoBox > img {
  height: 60%;
  margin-right: 20px;
}

.logoBox h1 {
  font-size: 4rem;
  color: #2c8ffa;
}

.myAlbumContainer .colorChanger {
  color: #fff;
  font-weight: 700;
}

.navigationBtnsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  flex: 4;
}

.myAlbumContainer .navBtn {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #0d203b;
  cursor: pointer;
  padding: 0 10px;
  transition: 0.3s;
}

.myAlbumContainer .navBtn:hover {
  background-color: #fff;
}

.navBtn > img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.myAlbumContainer .navBtn p {
  color: #2c8ffa;
  font-size: 2.4rem;
}

.userAccountBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  flex: 3;
}

.notificationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.myAlbumContainer .notificationContainer:hover .circleNotification {
  background-color: #fff;
}

.notificationContainer > img {
  width: 30px;
  height: 30px;
  padding: 0 10px 10px 10px;
}

.myAlbumContainer .circleNotification {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0d203b;
  font-size: 1.2rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2c8ffa;
  transition: 0.3s;
}

.avatarBox {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.avatarBox > img {
  height: 60px;
}

.welcomeMsg {
  margin-left: 20px;
  color: #2c8ffa;
}

.myAlbumContainer .logoutBtn {
  background-color: #0d203b;
  width: 40px;
  height: 40px;
  border: 2px solid #2c8ffa;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}
.logoutBtn:hover {
  background-color: #fff;
  border-color: #fff;
}

.logoutBtn > img {
  width: 70%;
}

.myAlbumContainer header {
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: calc(100% - 100px);
  width: 100%;
  background-color: #fff;
}
